<!DOCTYPE html>
<html lang="en-us">
<head>
  <meta charset="utf-8">

  <title>Pocket Watcher</title>

  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Karla:400,700%7CMontserrat:700">
  <link rel="stylesheet" href="css/screen.css">

</head>
<body>

  <section class="app">
    <nav class="nav app-nav"></nav>
    <section class="content app-content"></section>
  </section>

  <script id="nav" type="text/template">
    <a href="#" data-name="search" class="nav-link on">Search</a>
    <a href="#" data-name="subscriptions" class="nav-link nav-link-middle off">Subs</a>
    <a href="#" data-name="watch-later" class="nav-link off">Later</a>
  </script>

  <script id="home" type="text/template">
    <section class="content search-content">
      <input type="search" />
    </section>
  </script>


  <script id="search" type="text/template">
    <section class="content search-content">
      <input type="search" class="search-input" />
    </section>
  </script>

  <script id="subscriptions" type="text/template">
    <section class="content watch-later-content"></section>
  </script>

  <script id="watch-later" type="text/template">
    <section class="content watch-later-content"></section>
  </script>

  <script id="videos" type="text/template">
    <section class="videos"></section>
  </script>

  <script id="video" type="text/template">
    <article class="video later-video">
      <div class="video-details">
        <div class="video-title">
          <%= snippet.title %>
        </div>
        <div class="video-author">
          by <%= snippet.channelTitle %>
        </div>
        <div class="video-duration short-length">
          3 min
        </div>
      </div>
      <img class="video-image" src="<%= snippet.thumbnails.medium.url %>" />
    </article>
  </script>

  <script src="js/config.js"></script>
  <script data-main="js/main" src="bower_components/requirejs/require.js"></script>
  
</body>
</html>
